kubsh
kubsh_history.txt
build
build/
debian/.debhelper/
debian/files
debian/kubsh.substvars
debian/kubsh
../*deb
.pytest_cache

kubsh
debian/debhelper-build-stamp
build/CMakeCache.txt
.vscode/
__pycache__
__pycache__/*
.DS_Store