name: Build and Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Run tests
      run: |
        docker pull moriyuko/test_kubsh:latest

        docker run --rm --privileged\
          -v "${{ github.workspace }}":/app \
          -w /app \
          moriyuko/test_kubsh:latest \
          bash -euo pipefail -c "
            g++ -o /app/kubsh src/main.cpp -lreadline -lfuse3
            chmod +x /app/kubsh
            cp /app/kubsh /usr/local/bin/kubsh
            /opt/check.sh
          "
  
  build:
    needs: test
    runs-on: ubuntu-latest
    if: github.event_name == 'push'
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Install build dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential debhelper fakeroot dpkg-dev

    - name: Build .deb package
      run: |
        make deb
        make clean
        
    - name: Upload DEB package
      uses: actions/upload-artifact@v4
      with:
        name: kubsh-deb
        path: kubsh.deb
