name: Build and Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Run tests
      run: |
        docker pull moriyuko/test_kubsh:latest
        docker run --rm -v "$PWD":/app moriyuko/test_kubsh:latest \
          bash -c "
            set -e
            cd /app
            /opt/check.sh
          "
  
  build:
    needs: test
    runs-on: ubuntu-latest
    if: github.event_name == 'push'
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Install build dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential debhelper fakeroot dpkg-dev

    - name: Build .deb package
      run: |
        make deb
        make clean
        
    - name: Upload DEB package
      uses: actions/upload-artifact@v4
      with:
        name: kubsh-deb
        path: kubsh.deb
